<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632773770563-tvame7r66mqdaagb5lpquudvd1e07ru8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632773770563-tvame7r66mqdaagb5lpquudvd1e07ru8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632773770563-e61p6fp8f2gsb7fjksn3muar4kfi08n2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD78uGgkYkuYdctDPrPQyOtd1YYskSgDBI</string>
	<key>GCM_SENDER_ID</key>
	<string>632773770563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mzaradio.player</string>
	<key>PROJECT_ID</key>
	<string>mza-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>mza-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632773770563:ios:41c4cbcba0f79d485643f6</string>
</dict>
</plist>